Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  misc-*,
  -misc-include-cleaner

WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: none
